.home {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title {
    margin-top: 50px;
    margin-bottom: 500px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
}
